#input__search-box {
  // border: 1px solid #cacccd;
  border: 1px solid $line-grey-accent;
  font-size: $font-size-small;
  font-weight: 300;
  padding: 0.2em;
  color: $text-main;
  font-size:  $font-size-small;
  font-style: $georgia;
}